body {
    background-color: black;
    text-align: center;
}

table, td {
    border-collapse: collapse;
    border: 1px solid black;
}
/*main title: Discover hidden places in the world around you*/
h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

/*subtitles*/
h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

/*link to download app*/
a {
    color: aquamarine;
    font-size: 16px;
}

/*texte*/
p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

/*app name bottom right*/
.app_name {
    text-align: right;
    color: gray;
}